.button {
  width: 100%;
  max-width: 80%;
  /* background: #F64c72; */
  margin: 0 auto;
  text-align: right;
  margin-top: 10px;
  cursor: pointer;
  margin-bottom: 20px;
}

.button input[type="button"] {
  background: #F64c72;
  border: 0;
  padding: 24px 60px;
  font-size: 14px;
  letter-spacing: 2px;
  padding-top: 2px;
}

.calHeading {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 2px;
  max-width: 920px;
  width:100%;
  margin: 0 auto;
  text-align: center;
  padding: 35px;
}

body {
  overflow-y: scroll;
}

.showReport {
  display: block;
  width: 80%;
  margin: 0 auto;
  text-align: left;
  padding-top: 10px;
  border-bottom: 1px solid #CDCDCD;
}


.reportHeading {
  display: inline-block;
  width: 70%;
  font-size: 16px;
  font-weight: 400;
  font-family: pt-sans, sans-serif;
}

.reportScore {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  font-family: pt-sans, sans-serif;
  width: 25%;
  text-align: right;
}

body hr.totalHr {
  width: 12vw;
  border: 0.3px solid #fff;
  opacity: 0.4;
  margin-right: 0px;
}

h1.totalEffort {
  text-align: right;
  color: #000;
  font-family: pt-sans, sans-serif;
  font-weight: 700;
  /* right: 20px; */
}

.error {
  color: red;
  font-size: 12px;
  text-align: left;
  font-weight: 400;
  font-family: pt-sans, sans-serif;
}

input.EffortNameClass {
  display: inline-block;
  width: 53%;
  padding: 3px 0px;
  padding-left: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 24px;
  font-weight: 500;
}

input.EffortValueClass {
  display: inline-block;
  width: 25%;
  padding: 3px 0px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.addreportHeading {
  display: inline-block;
  width: 50%;
}

.addbtn1 {
  display: inline-block;
  width: 20%;
  text-align: right;
}

button {
  background: #D6C2B2 !important;
  border: 0;
  padding: 8px 25px;
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  font-family: pt-sans, sans-serif;
  font-weight: 400;
}

.addReport {
  width: 80%;
  display: block;
  margin: 0 auto;
  text-align: left;
  padding: 40px 0px;
}

.addreportScore {
  display: inline-block;
  width: 20%;
}

button.btn1 {
  background: #F64c72;
  border: 0;
  padding: 6px 6px;
  font-size: 15px;
  letter-spacing: 2px;
  width: 20%;
  text-align: center;
  margin-right: 0;
}

div#root hr.totalHr {
  width: 100%;
  margin-top: 40px;
}

.showReport.custom {
  width: 80%;
  font-family: pt-sans, sans-serif;
  font-size: 16px;
  font-weight: 400;
  border-bottom: 1px solid #CDCDCD;
  padding: 10px 0px;
}

body .button {
  margin-top: 80px;
}

.Essential {
  color: #904A84;
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
  margin-top: 10px;
}

.AddOns {
 color: #6FBD13; 
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
  margin-top: 10px;
}

.Mandatory {
   color: #F25767;
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
  margin-top: 10px;
}

.Custom {
   color: #FFA512; 
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
  margin-top: 10px;
}

.showReport {
  padding-top: 0px;
  width: 100%;
  padding-left: 10px;
  border-bottom: 1px solid #CDCDCD;
}

.reportHeading {
  padding: 10px 0px;
}

@media (max-width:767px) {
  .calHeading {
    padding: 0px;
  }
}