input.EffortNameClass {
    font-size: 16px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 8px;
    font-family: pt-sans, sans-serif;
    font-weight: 400;
}

.container button {
    border-radius: 15px;
}

input.EffortValueClass {
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 8px;
    font-family: pt-sans, sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.addreportScore {
    color: #fff;
}

/* .showReport {
    color: #000;
} */

@media (max-width:1024px) {
    .reportHeading {
        font-size: 14px;
    }
    .addreportScore {
        width: 30%;
    }
    .addreportHeading {
        width: 40%;
    }
    body .calHeading {
        width: 90%;
    }
    .container button {
        width: 85px;
        font-size: 11.6px;
    }
    .addbtn1 {
        padding-left: 10px;
    }
    h1.totalEffort {
        font-size: 20px;
    }
    .reportScore {
        font-size: 12px;
    }
    div#root {
        overflow-x: hidden;
    }
    .addReport {
        width: 100%;
    }
}

@media (min-width:768px) and (max-width:1023px) {
    .reportScore {
        font-size: 20px;
    }
    .reportHeading {
        font-size: 20px;
    }
    h1.totalEffort {
        font-size: 32px;
    }
    .childContainer input[type=radio] {
        width: 20px;
        height: 20px;
    }
    input[type='radio']:after {
        width: 18px;
        height: 18px;
        border: 3px solid white;
    }
}

@media (min-width:768px) and (max-width:1024px) and (orientation:landscape) {
    .reportHeading {
        font-size: 24px;
    }
    .reportScore {
        font-size: 24px;
    }
    h1.totalEffort {
        font-size: 32px;
    }
    .subTitle p {
        padding-left: 5.5vw;
    }
    .subTitle {
        text-align: right;
        width: 41%;
        margin-right: 22px;
    }
    .blockHeading h1 {
        font-size: 16px;
    }
}

@media (max-width:767px) {
    input.EffortNameClass {
        font-size: 11.8px;
    }
    input.EffortValueClass {
        font-size: 11.8px;
    }
}