.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 2vw;
}

.container .childContainer {
    display: block;
    width: 100%;
    max-width: 920px;
}

.childContainer h1 {
    font-size: 24px;
}

.button {
    width: 52.4vw;
    /* background: #F64c72; */
    margin: 0 auto;
    text-align: right;
    margin-top: 20px;
}

.button input[type="button"] {
    background: #F64c72;
    border: 0;
    padding: 12px 25px;
    font-size: 15px;
    letter-spacing: 2px;
}

.childContainer input[type=radio] {
    width: 17px;
    height: 17px;
}

.container button {
    width: 150px;
    height: 40px;
}

.subTitle p {
    display: inline-block;
    padding-left: 60px;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    font-weight: 700;
    font-family: pt-sans, sans-serif;
}

input[type='radio']:after {
    /* width: 12px;
    height: 12px; */
    border-radius: 50px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid #707070;
}

input[type='radio']:checked:after {
    /* width: 15px;
    height: 15px; */
    border-radius: 50px;
    position: relative;
    background-color: #007cc3;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid #707070;
    border-radius: 50%;
}

.estimationTitle {
    width: 55%;
    display: inline-block;
}

.estimationcontrols {
    display: inline-block;
    width: 40%;
    text-align: right;
}

.childContainer input[type=radio] {
    margin-left: 50px;
}

.subTitle {
    display: inline-block;
    width: 42%;
    color: #000;
    /* width: 42.5vw; */
    /* margin-right: 16px; */
    text-align: right;
    padding-left: 20px;
}

.titleHeading {
    color: #000;
    width: 100%;
    display: block;
}

.blockHeading h1 {
    color: #000;
    text-align: left;
    font-family: pt-sans, sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0px;
}

.blockHeading {
    display: inline-block;
    width: 50%;
    text-align: left;
}

input[type="checkbox"] {
    margin-left: 3.5vw;
    width: 16px;
    height: 16px;
    border: 0.5px solid;
    background-color: transparent;
    border-radius: 5px;
}

@media (max-width:767px) {
    .container {
        width: 80%;
    }
    .container .childContainer {
        width: 100%;
    }
    .subTitle {
        width: 45%;
        /* padding-left: 30px; */
    }
    .subTitle p {
        padding-left: 33.5px;
        font-size: 12.16px;
    }
    h1.title {
        font-size: 28px;
    }
    .blockHeading h1 {
        font-size: 12.16px;
        font-weight: 700;
    }
    .childContainer h1 {
        font-size: 2.85vw;
    }
    input[type="checkbox"] {
        width: 4vw;
        height: 4vw;
    }
    .childContainer input[type=radio] {
        margin-left: 5vw;
    }
    .childContainer input[type=radio]:first-child {
        margin-left: 0;
    }
    .subTitle p:first-child {
        padding-left: 0px;
    }
    .estimationcontrols {
        width: 45%;
    }
    .blockHeading {
        width: 45%;
    }
}

@media (min-width:768px) and (max-width:1023px) {
    .subTitle {
        width: 45%;
        /* padding-left: 30px; */
    }
    .subTitle p {
        padding-left: 54.6px;
        font-size: 29px;
    }
    .blockHeading {
        width: 42%;
    }
    .blockHeading h1 {
        font-size: 29px;
    }
    .childContainer h1 {
        font-size: 2.85vw;
    }
    .childContainer input[type=radio]:first-child {
        margin-left: 0;
    }
    .estimationcontrols {
        padding-left: 0.9vw;
        width: 35%;
    }
    .childContainer input[type=radio] {
        margin-left: 6.2vw;
        width: 25px;
        height: 25px;
    }
    input.EffortNameClass {
        font-size: 11.8px;
    }
    .addreportScore {
        font-size: 11.8px;
    }
    input.EffortValueClass {
        font-size: 11.8px;
    }
    .container button {
        padding: 5px 20px;
    }
}

@media (max-width:767px) and (orientation:landscape) {
    .childContainer input[type=radio] {
        margin-left: 8.2vw;
    }
    .subTitle p {
        padding-left: 57.6px;
    }
    .subTitle {
        padding-left: 35px;
    }
}