.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.stepper-container {
  max-width: 59.88vw;
  width: 100%;
  margin: 0 auto;
}

.stepper-item-outer:nth-of-type(even) {
  border: 1px solid #000;
  opacity: 0.5;
}

div#root hr {
  width: 12vw;
  border: 0.3px solid;
  opacity: 0.4;
}

.button {
  width: 52.4vw;
  /* background: #F64c72; */
  margin: 0 auto;
  text-align: right;
  margin-top: 40px;
  cursor: pointer;
}

.button input[type="button"]:first-child {
  margin-left: 0px;
}

.button input[type="button"] {
  background: #D6C2B2 !important;
  border: 0;
  padding: 8px 25px;
  font-size: 15px;
  letter-spacing: 2px;
  margin-left: 20px;
  border-radius: 15px;
  cursor: pointer;
}

h1 {
  text-align: center;
  width: 100%;
  letter-spacing: 4px;
}

.stepper-container .stepper-item .stepper-title {
  letter-spacing: 1px;
  font-size: 16px!important;
  font-weight: 700;
}

.stepper-item-inner-active {
  background-color: #5cdb95;
}

/* .stepper-item-outer:nth-of-type(odd) {
  border-color: #5cdb95;
} */

.btn1 {
  display: inline-block;
  width: 50%;
  text-align: left;
}

.btn2 {
  display: inline-block;
  width: 50%;
  text-align: right;
}

h1.title {
  color: #000;
  display: inline-block;
  width: 70%;
  text-align: left;
  padding-left: 10px;
  font-size: 42px;
  line-height: 1;
  vertical-align: middle;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

input[type="checkbox"] {
  margin-left: 3.5vw;
  width: 16px;
  height: 16px;
  border: 0.5px solid;
  background-color: transparent;
  border-radius: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.stepper-item-outer:nth-of-type(odd) .stepper-item-inner {
  background-color: #B2D6B5;
}

.stepper-item-outer:nth-of-type(odd) {
  border: 0.5px solid #000;
}

body .childContainer h1 {
  columns: #000000;
  opacity: 0.8;
}

.ParentHeader {
  background: #fff;
  width: 80%;
  margin: 0 auto;
  border-radius: 25px;
  padding: 20px 0px;
  margin-bottom: 20px;
}

.titleSection {
  width: 80%;
  margin: 0 auto;
}

.titleSection img {
  vertical-align: middle;
}

body hr.divided {
  color: #000 !important;
  width: 100% !important;
}

@media (max-width:1024px) {
  div#root>h1 {
    font-size: 4.8vw;
  }
  div#root hr {
    width: 32vw;
  }
  .stepper-container {
    max-width: 75%;
    /* overflow: hidden; */
  }
  body .stepper-container .stepper-item .stepper-item-outer {
    width: 4.1vw;
    height: 4.1vw;
    border: 1px solid #C8CACB;
  }
  body .stepper-container .stepper-item .stepper-title {
    font-size: 1.8vw!important;
    min-width: 26.9vw;
  }
  body .stepper-item-outer:nth-of-type(odd) .stepper-item-inner.stepper-item-inner-active {
    width: 2.58vw;
    height: 2.58vw;
  }
  body .stepper-item-outer:nth-of-type(even) {
    width: 30%;
  }
  body .container {
    width: 80%;
  }
  body .container .childContainer {
    width: 100%;
    padding-bottom: 2.8vw;
  }
  .subTitle {
    width: 85%;
    /* padding-left: 30px; */
  }
  .subTitle p {
    padding-left: 7vw;
    font-size: 3.3vw;
  }
  body .childContainer h1 {
    font-size: 2.85vw;
  }
  body input[type="checkbox"] {
    width: 3vw;
    height: 3vw;
  }
  body .button {
    width: 55.4vw;
  }
  body .button input[type="button"] {
    padding: 5px 20px;
    font-size: 2.8vw;
  }
  body .heading {
    font-size: 3.5vw;
    letter-spacing: 1px;
    padding-bottom: 4.1vw;
  }
  body .calHeading {
    font-size: 5.1vw;
    padding: none;
    padding-top: 30px;
  }
  .reportHeading {
    font-size: 14px;
  }
  .addreportScore {
    width: 30%;
  }
  .addreportHeading {
    width: 40%;
  }
}