body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #B2D6B5;
  min-height: 100vh;
  height: auto;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body .childContainer h1 {
  font-size: 16px;
  text-transform: none;
  color: #000;
  opacity: 0.8;
  padding:10px 0px;
}

body h1 {
  color: #fff;
}

body div#root hr {
  color: #fff;
}

body .stepper-container .stepper-item .stepper-title-active {
  color: #000;
}